detect-person/haarcascade_frontalface_default.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="opencv_storage" type="opencv_storageType">
    <xs:annotation>
      <xs:documentation>
    Stump-based 24x24 discrete(?) adaboost frontal face detector.
    Created by Rainer Lienhart.

////////////////////////////////////////////////////////////////////////////////////////

  IMPORTANT: READ BEFORE DOWNLOADING, COPYING, INSTALLING OR USING.

  By downloading, copying, installing or using the software you agree to this license.
  If you do not agree to this license, do not download, install,
  copy_module or use the software.


                        Intel License Agreement
                For Open Source Computer Vision Library

 Copyright (C) 2000, Intel Corporation, all rights reserved.
 Third party copyrights are property of their respective owners.

 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:

   * Redistribution's of source code must retain the above copyright notice,
     this list of conditions and the following disclaimer.

   * Redistribution's in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution.

   * The name of Intel Corporation may not be used to endorse or promote products
     derived from this software without specific prior written permission.

 This software is provided by the copyright holders and contributors "as is" and
 any express or implied warranties, including, but not limited to, the implied
 warranties of merchantability and fitness for a particular purpose are disclaimed.
 In no event shall the Intel Corporation or contributors be liable for any direct,
 indirect, incidental, special, exemplary, or consequential damages
 (including, but not limited to, procurement of substitute goods or services;
 loss of use, data, or profits; or business interruption) however caused
 and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of
 the use of this software, even if advised of the possibility of such damage.
</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="stageParamsType">
    <xs:sequence>
      <xs:element type="xs:string" name="maxWeakCount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="featureParamsType">
    <xs:sequence>
      <xs:element type="xs:string" name="maxCatCount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_Type">
    <xs:sequence>
      <xs:element type="xs:string" name="internalNodes" minOccurs="0"/>
      <xs:element type="xs:string" name="leafValues" minOccurs="0"/>
      <xs:element type="xs:string" name="maxWeakCount" minOccurs="0"/>
      <xs:element type="xs:string" name="stageThreshold" minOccurs="0"/>
      <xs:element type="weakClassifiersType" name="weakClassifiers" minOccurs="0"/>
      <xs:element type="rectsType" name="rects" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="weakClassifiersType">
    <xs:sequence>
      <xs:element type="_Type" name="_" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stagesType">
    <xs:sequence>
      <xs:element type="_Type" name="_" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rectsType">
    <xs:sequence>
      <xs:element type="xs:string" name="_" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="featuresType">
    <xs:sequence>
      <xs:element type="_Type" name="_" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cascadeType">
    <xs:sequence>
      <xs:element type="xs:string" name="stageType"/>
      <xs:element type="xs:string" name="featureType"/>
      <xs:element type="xs:string" name="height"/>
      <xs:element type="xs:string" name="width"/>
      <xs:element type="stageParamsType" name="stageParams"/>
      <xs:element type="featureParamsType" name="featureParams"/>
      <xs:element type="xs:string" name="stageNum"/>
      <xs:element type="stagesType" name="stages"/>
      <xs:element type="featuresType" name="features"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type_id"/>
  </xs:complexType>
  <xs:complexType name="opencv_storageType">
    <xs:sequence>
      <xs:element type="cascadeType" name="cascade"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>